/**
Folha de estilo do site outlawgames.com
@author João Andrade
*/

/* importar fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* variáveis globais */
:root {
    --vermelhoLayout: #B30000;
    --brancoLayout: #ffffff;
    --backgroundCard: #f1f3f1;
    --cinzaText: #434343;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

/* ------------LAYOUT------------ */
    html {
        scroll-behavior: smooth;
    }

body {
    font-family: "Oswald", sans-serif;
    font-size: 1em;
}

.Container {
    margin: 0 auto;
    padding: 30px 15px 30px 15px;

}

.Flex, .FlexMenu {
    display: flex;
    justify-content: space-between;
}

.Flex {
    flex-direction: column;
}

.Card {
    margin-top: 30px;
    width: 338px;
    height: 520px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--vermelhoLayout);
    border-radius: 25px;
    text-align: center;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3{
    margin: 15px 30px 0px 30px;
}

.Card p{
    padding: 10px 10px 50px 15px;
    text-align: left;
    color: var(--cinzaText);

}

.Button {
    text-decoration: none;
    background-color: var(--vermelhoLayout);
    color: var(--brancoLayout);
    padding: 10px 90px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 700;
}

/* Topo */

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone portrait */
/* Cabeçalho */
header {
    height: 90px;

}

#logo img {
    width: 90px;
    height: 90px;

}

#check {
    display: none;
}
label {
    font-size: 3em;
    position: fixed;
    top: 25px;
    right: 3px;
    color: rgba(67, 67, 67, 0.7);
}

nav ul {
    position: fixed;
    list-style: none;
    background-color: rgba(67, 67, 67, 0.95);
    height: 100vh;
    top: 90px;
    right: -70%; /* estratégia para recolher o menu */
    width: 60%; 
    transition: all 0.5s;
}

/* Ativar o checkbox referente ao ul (lista) */
#check:checked~ul {
    right: 0;

}

nav ul li {
    border-bottom: 0.1px solid var(--brancoLayout);
    text-align: center;
    padding: 8px;
    

    
}
nav ul li a {
    color: var(--vermelhoLayout);
    text-decoration: none;
    font-size: 1.3em;


}


/* RODAPÉ */
footer{
    background-color: var(--vermelhoLayout);
    color: var(--brancoLayout);
    text-align: center;
}

#social {
   margin-bottom: 10px;
    
}

/* Smartphone landscape */
@media (min-width: 576px) {
    /* Cabeçalho */

    .Container {
        max-width: 540px;
    }

    header {
        max-width: 540px;
        margin: auto;
    }
    } 
    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }     
    #social {
        margin-bottom: 0;
}

/* Tablet portrait */
@media (min-width: 768px) {
    .Container {
        max-width: 720px;
    }
    /* Cabeçalho */
    header{
        max-width: 720px;
        height: 145px;

    }
    label {
        font-size: 5em;
        top: 25px;
        right: 5px; 
    }
    #logo img {
        width: 150px;
        height: 150px;

    }
    nav ul{
        top: 145px;
        right: -50%;
        width: 50%;
    }
}

/* Tablet landscape */
@media (min-width: 992px) {
    .Container {
        max-width: 960px;
    }
    header {
        max-width: 960px;

    }
}

/* PC ou Notebook ruim (HD-)*/
@media (min-width: 1200px) {
    .Container {
        max-width: 1140px;
   }
   header {
    max-width: 1140px;

}
    label{
        display: none;
    }
    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: var(--brancoLayout);
        margin: 70px;
    }
    nav ul li {
        border: 0;
        float: left;
    }
    nav ul li a {
        color: black;
    }

    nav ul li a:hover {
        color: var(--vermelhoLayout)
    }
   }



/* PC ou Notebook ou Tv FULL HD+ */
@media (min-width: 1400px) {
    .Container {
        max-width: 1360px;
    }
    header {
        max-width: 1360px;

    }

}